<h2>Teach Us Something New!*</h2>

<%= render 'partials/form' %>

<small>*Use Markdown to format your posts! You can reference <%= link_to "this handy cheatsheet", "http://assemble.io/docs/Cheatsheet-Markdown.html", target: "_blank" %></small>